

.container {
  width: 100%;

    display: flex ;
flex-flow: row wrap;


}

.container span {
    background-color: rgb(49, 59, 240);
    color: white;
    border-radius: 10px;
    padding: 10px 50px;
    margin: auto;
}




@media (max-width: 1000px) {
  .container {

    gap: 16px;
  }
@media (min-width: 1000px) {
  .container {


    gap: 18px;
  }
}


}